* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("./src/assets/NEUMORPHIC_CIRCLES_BACKGROUND.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   

}
/* ----------------this for heading and home icon---------- */
.main-content{
   
}
.nav-list{
    display: flex;
    justify-content: center;
    gap: 40px;
    color: white;
    width: 100%;
   
    box-shadow: 0 3px 5px 5px rgba(66, 64, 64, 0.3);
    padding: 10px;
    margin-top: 10px;
  
}
.nav-list li{
    list-style: none;
    box-shadow: 0 3px 4px 5px rgba(57, 56, 56, 0.3);
    padding: 8px;
    border-radius: 14px;
   
   
}
.nav-list li:hover{
    background-color: rgb(34, 1, 36);
    color: black;
 
}

.nav-link{
    color: rgb(205, 205, 202);
    font-size: 1.2rem;
   
    text-decoration: none;
}


.icon{
    color: rgb(160, 56, 230);
}

/* -----------------------this is for footer ------- */
.footer{
   
    
    display: flex;
    justify-content:space-evenly;
    align-items: center;
  
    padding: 30px;
    gap: 10px;

    width: 100%;
    box-shadow: 0 5px 5px 7px rgba(237, 232, 232, 0.3);
    color: rgb(190, 186, 186);
    bottom: 0;
    margin-top: auto;
    
}
.social-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
