*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body,html{
    font-family: "Poppins", sans-serif;
    color: var(--color-grey-700);
   
    transition: color 0.3s, background-color 0.3s;
    line-height: 1.5;
 
}
li{
    list-style: none;
    
}