   
.form-container{
    position: relative;
     display: flex;
     justify-content: center;
     margin: 40px auto;
     padding: 30px;
     box-shadow: 0 13px 6px 10px rgba(2, 2, 2, 0.3);
     border-radius: 20px;
  
     width: 90%;
     max-width: 400px;
}
.title{
    position: absolute;
    top: 0px;
    margin: 0;
    color: rgb(126, 17, 159);
    box-shadow: 0 7px 8px rgba(2, 2, 2, 0.3);
    padding: 5px;

}


.form{
   
    display: flex;
    flex-direction: column;
    margin: 10px;
    
    
    
}
.form input{
    
    border-radius: 20px;
    padding: 7px;
    margin: 0.5rem 0;
    border: 5px solid #0c397d;
    font-size: 0.8rem;
    text-align: center;

}
.form input:focus{
    outline: none;
    border-color: #84fab0;
    box-shadow: 0 0 5px rgba(132, 250, 176, 0.89);

}
.form-buttons{

  
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 10px;

    
}
.form-buttons button{
    
 
    padding: 0.8rem 2rem;
    border-radius: 20px;
    background-color: #69f0f8;
    color: black;
    border: none;
    text-align: center;
    box-shadow: 2px 4px 3px 4px rgba(16, 16, 16, 0.3);
    font-size: 0.7rem;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

.register:disabled {
    background-color: gray;
    
    
}
.form-buttons button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
.formErrors{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    top: 2px;
    font-size: 0.8rem;
}


.select-fields{
    color: white;
    margin: 13px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
.select-fields select{
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgb(90, 94, 215);

}
.form-label{
    box-shadow: 0 16px 6px 8px rgba(2, 2, 2, 0.3);
}
.register-error{
    font-size: 1.2rem;
    color: green;
   
    margin: 0 auto;
    padding: 20px;
}
