.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   gap: 20px;
   
}
.form{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    gap: 20px;

    
}
.form input{
    padding: 7px 10px;
    width: 70%;
    border-radius: 10px;
   
   

}
.formErrors{
    color: red;

}
.form-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
}

.register{
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(120, 220, 53);
    color: black;
    font-size: 0.8rem;
}
button:disabled{
    background-color: gray;
    color: black;
}
.form input:focus{
    border: 3px solid rgb(116, 216, 49);
}
.title h2{
    font-size: 2.5rem;
}
.register-error{
    margin: 20px;
    color: red;
}
.formErrors{
    width: 70%;
}