.post-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20PX;
    padding: 20px;

}
.post-fields h1{
    font-family: "Roboto";
    font-weight: 80;
    font-variant: 5;
}
.postjob-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.post-fields input{
    padding: 8px;
    width: 200px;
    border-radius: 15px;
    text-align: center;

}
.post-fields input:focus{
    border: 4px solid greenyellow;
}
.add-btn{
    padding: 10px 45px;
    border: none;
    border-radius: 10px;
    background-color: rgb(140, 201, 49);
    margin-top:50px 0 0 0 ;
}
.add-btn:disabled{
    background-color: gray;
    
}
.PostErrors{
    color: red;
}