.profile{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 30px;
}
.profile h1{
    color: rgb(121, 223, 70);
}
.profile-card{
    min-width: 30%;
    padding: 30px;
    box-shadow: 0 4px 5px 4px rgba(9,8,9, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin: 20px;
}
/* Center the spinner container */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full height of the viewport */
    background-color: rgba(27, 25, 25, 0.7); /* Optional: translucent background */
    position: fixed; /* Stay fixed in the viewport */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Make sure it’s above other elements */
  }
  
  /* Create the spinner */
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1); /* Light border */
    border-top-color: #333; /* Darker border for the spinning effect */
    border-radius: 50%; /* Makes it circular */
    animation: spin 1s linear infinite;
  }
  
  /* Animation for spinning */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
