.welcome{
    font-family: "Roboto", serif;
  
   
   
    color: rgb(5, 4, 4);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    text-align: center;
    
   
    
}
.desc2{
   font-size: 1.5rem;
   
   font-weight: bold;
    
    
   
}

.sign-page{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 50px;
    
}
.sign-form{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin: 30PX 0 0 0;
    width: 300px;
}
.sign-form input{
    padding: 10px;
    border-radius: 20px;

    
}
.sign-button{
    display: flex;
    flex-direction: column;
  
    gap: 1.4rem;
    color: rgb(0, 0, 0);
    
}
.sign-button button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(115, 219, 77);
   
}
.sign-button button:hover{
    background-color: rgb(201, 201, 68);
    cursor: pointer;
}
.register-btn  {
   color: rgb(114, 215, 47);
}
.register-btn:hover{
    color: rgb(143, 228, 77);
    cursor: pointer;
}
.desc1{
    font-family: "Roboto";
    font-weight: 20;
 
}
.login-error{
    color: red;
    font-size: 1.3rem;
}